<header class="page-header">
  <h1>Mechanic 2</h1>
  <h2>The RoboFont Extension Manager</h2>

  <div class="main-description">
    <p>Mechanic allows you to install many of the publicly available <a href="http://robofont.com" target="_blank">RoboFont</a> extensions, and notifies you when new updates are available.</p>
  </div>

  <div class="links">
    <a href="https://github.com/jackjennings/Mechanic/archive/master.zip" class="download">Download</a>

    <div class="social-links">
      <a href="http://www.robofontmechanic.com/rss">RSS</a>
      <a href="http://blog.robofontmechanic.com">Blog</a>
      <a href="https://twitter.com/RFMechanic">Twitter</a>
      <a href="https://github.com/jackjennings/Mechanic">GitHub</a>
    </div>
  </div>
</header>

<div class="illustration">
  <div class="toolbox" id="toolbox">
    <div class="shelf"></div>
    <div class="shelf2"></div>
    <div class="back"></div>
    <div class="handle"></div>
    <div class="front"></div>
    <div class="tool wrench"></div>
    <div class="tool ruler"></div>
    <div class="tool saw"></div>
    <div class="tool pencils"></div>
    <div class="tool brush"></div>
  </div>
</div>